/*blog section*/

    .blogicon {
    font-size: 200px;
    color:#5cb85c;

    }

    .list-icon {
    font-size: 200px;
    color: #000000;  
    
    }

    .ratetext {
    font-size: 37px;
    text-decoration: underline;
    padding-bottom: 10px;

    }


   a.list-group-item {
   height: auto;
   min-height: 250px;

   }

   a.list-group-item:hover, a.list-group-item:focus {
   border-left:10px solid #5CB85C;
   border-right:10px solid #5CB85C;

   }

   a.list-group-item {
   border-left:10px solid transparent;
   border-right:10px solid transparent;

   }

   .section {
   padding: 30px 0;
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -o-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);

   }

   .section-white {
   background: #FFF;

   }

   .section .container:first-child h1,
   .section .container:first-child h2,
   .section .container:first-child h3 {
   margin-top: 0;
   font-weight: 700;

   }
