/*
	Kixdits Web Design Theme by JND Enterprises
	jndenterprises.com | @jndenterprises
	Copyright 2007-2014 All Rights Reserved.
	
*/

    .jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;}
            
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
            
    .jumbotron small {
    color: #FFF;}
            
    .h1 small {
    font-size: 24px;}



    .kixdits-top-buffer { margin-top:30px; }
    .kixdits-bottom-buffer { margin-bottom:30px; }



    .container-kixdits-1 {
    margin: 0 auto;
    max-width: 900px;
    margin-top: 100px;
    margin-bottom: 100px;
            
    }


    .section-kixdits-2 {
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url('../img/hdrrfn.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        
    }

    
    
    .section-kixdits-3 {
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#29C3E9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        
    }
        
    .section-kixdits-4 {
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#991A71;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        
    }

    .section-kixdits-5 {
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#3FA46A;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        
    }

    .section-kixdits-6 {
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#F19F0F;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        
    }

    .section-kixdits-7 {
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#244B74;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        
    }


    .section-kixdits-8 {
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#DA4839;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        
    }

    .box > .icon { text-align: center; position: relative; }
    .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius:     50%; background: #63B76C; vertical-align: middle; }
    .box > .icon:hover > .image { background: #333; }
    .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
    .box > .icon:hover > .image > i { color: white !important; }
    .box > .icon > .info { margin-top: -24px; background: #580F41; border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
    .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
    .box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
    .box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
    .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
    .box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase;       text-decoration: none; }
    .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
    .box .space { height: 30px; }



